@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    ---gray-color: #c4c4c4;
    ---red-color: #a40101;
    ---blue-color: #2ca3ab;
    ---orange-color: #f3610e;
    ---bluedark-color: #1d1b45;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(---gray-color);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(---bluedark-color)
}

.sidebar img{
    width: 80%;
    margin-top: 70px;
    margin-left: 25px;
}

.sidebar ul{
    margin-top: 100px;
    text-align: center;
    display: block;
    height: 100%;
    height: 100%;
    line-height: 65px;
    
}

.sidebar button{
    margin-top: 15px;
    background-color: var(---gray-color);
    border: 2px solid var(---orange-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    color: var(---bluedark-color);
    font-size: 18px;
    font-weight: bold;
}

.boton-usuario{
    display: flex;
    justify-content: flex-end;
}

.boton-usuario button{
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    border-radius: 20px;
}

.boton-usuario img{
    max-width: 30px;
}

.contenido{
    width: 110%;
    display: flex;
    justify-content: center;

}

.contenido h1{
    color: var(---orange-color);
    font-size: 40px;
}
.input{
    width: 110%;
    display: flex;
    justify-content: center;
}

.input input{
    background-color:var(---gray-color);
    border: none;
    border-bottom: 2px solid var(---bluedark-color);
    margin-top: 40px;
    width: 300px;
    text-align: center;
}

.guerreros{
    max-width: 300px;
    display: flex;
    justify-content: flex-end; 
}

.guerreros img{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}